

    <!DOCTYPE html>
    <html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/styles.css">
        <title>Todo List</title>
    </head>
    
    <body>
        <header >
            <nav class="header">
                <a class="todayUrl" href="/"><img src="calendar.png"> Today</a>
                <a class="workUrl" href="/work"><img src="work.png"> Work</a>
            </nav>
        </header>
      

